<!DOCTYPE html>
<html>
<head>
    <title>midjourney</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1 class="text-center">midjourney</h1>
    <div class="text-center mt-3">
        <input id="jsonFileInput" type="file" accept=".json" hidden />
        <label for="jsonFileInput" class="btn btn-orange">open JSON</label>
        <button id="generateButton" class="btn btn-blue">generation</button>
        <button id="copyButton" class="btn btn-blue">copy txt</button>
    </div>
    <textarea id="outputText" class="form-control mt-3" rows="null" readonly></textarea>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
